{% extends 'base.html' %} 

{% block main %}
<article class="bg-gradient-to-r from-green-50 to-green-50 col-span-2 h-full text-center fondologinright">
    
  <h2 class="text-2xl text-center">
        FORMULARIO PROPUESTAS</h2>
      
            
    <!--{{form.as_p}}-->
  <form action="" method="POST" id="myForm"   
          class="bg-white mx-7 mt-2 h-3/4 rounded-lg p-6 shadow-2xl shadow-gray-600 grid grid-cols-2 justify-items-center sm:w-1/2 sm:mx-auto sm:grid-cols-1">
    {% csrf_token %} 
               
      <input name="numero_empleado" id="numero_empleado" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
              type="text" placeholder="Número Empleado" required>
  
      <input name="nombre_empleado" id="nombre_empleado" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
              type="text" placeholder="Nombre Empleado" required>
              
      <!--<input name="fecha_recepcion" id="fecha_recepcion" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0
              type="date" placeholder="Fecha de Recepcion" required>-->
              
      <input name="telefono_contacto" id="telefono_contacto" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0"
              type="number" placeholder="Teléfono Contacto" required>
              
      <input name="torre" id="torre" 
                      class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
                      type="text" placeholder="Torre en la que Pertenece" required>         
                            
      <input name="area" id="area" 
                      class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
                      type="text" placeholder="Área en la que Pertenece" required>                                 

      <input name="puesto" id="puesto" 
                      class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
                      type="text" placeholder="Puesto en la que Pertenece" required>     

      <input name="numero_empleado_supervisor" id="numero_empleado_supervisor" 
                      class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
                      type="text" placeholder="Número Empleado Supervisor" required>

      <input name="nombre_empleado_supervisor" id="nombre_empleado_supervisor" 
                      class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
                      type="text" placeholder="Nombre Empleado Supervisor" required>              

      <input name="correo_personal" id="correo_personal" 
                      class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
                      type="email" placeholder="Correo Personal" required>        
                            
      <input name="correo_institucional" id="correo_institucional" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
              type="email" placeholder="Correo Institucional" required>                               

      <input name="documento" id="documento" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
              type="file" placeholder="Documento Propuesto" required>                            
                            
      <input name="consentimiento" id="consentimiento" 
              class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0" 
              type="checkbox" required> 
        <label for="consentimiento">Acepto los términos y condiciones</label><br><br>                           

    <button class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer hover:bg-green-300 mt-6"
    onclick="validatePassword()">
    Enviar Propuesta
    </button>


              <!--<button class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer hover:bg-green-300 mt-6">Cancelar</button>-->
              <!--<a href="{% url 'login' %}" class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer 
                hover:bg-green-300 mt-4"><div>Cancelar</div></a>-->
    <br>      
  </form>
</article>        
{% endblock%}

