{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Envio de Propuesta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        {% tailwind_css %}
    </head>
    <body>
        {% block main %}

        <article class="bg-gradient-to-r from-green-50 to-green-50 col-span-2 h-full text-center fondologinright">
    
            <h1 class="text-verde font-bold  text-titulo-min-xl mt-0
                      sm:mt-20 sm:text-titulo-xl">FORMULARIO PROPUESTAS</h1>
      
            
            <!--{{form.as_p}}-->
            <form action="" method="POST" id="myForm"   
                  class="bg-white mx-7 mt-2 h-3/4 rounded-lg p-6 shadow-2xl shadow-gray-600 grid grid-cols-2 justify-items-center
                                  sm:w-1/2 sm:mx-auto sm:grid-cols-1">
              {% csrf_token %} 
  
              <!--{% if mensaje %}
                <div class="text-verde font-bold mb-4 mt-0">
                  {{ mensaje }}
                </div>
              {% endif %}-->
  
              <!--<select name="role_id" id="role_id" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
              sm:col-span-1 sm:w-full" required>
                <option value="0">Seleccionar</option>
                <option value="2">Alumno</option>              
              
              </select>-->
               
              <input name="numero_empleado" id="numero_empleado" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
              sm:col-span-1 sm:w-full" 
              type="text" placeholder="Número Empleado" required>

              <input name="nombre_empleado" id="nombre_empleado" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="text" placeholder="Nombre Empleado" required>
              
              <!--<input name="fecha_recepcion" id="fecha_recepcion" class="border border-gray-300 w-10/12 px-3 py-2 mb-4 rounded-md bg-gray-100
                            sm:w-full" 
                            type="datetime" placeholder="Fecha de Recepcion" required>-->
              
              <input name="telefono_contacto" id="telefono_contacto" class="border border-gray-300 w-10/12 px-3 py-2 mb-4 rounded-md bg-gray-100
                            sm:w-full" 
                            type="number" placeholder="Teléfono Contacto" required>
              
              <input name="torre" id="torre" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="text" placeholder="Torre en la que Pertenece" required>         
                            
              <input name="area" id="area" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="text" placeholder="Área en la que Pertenece" required>                                 

              <input name="puesto" id="puesto" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="text" placeholder="Puesto en la que Pertenece" required>     

              <input name="numero_empleado_supervisor" id="numero_empleado_supervisor" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="text" placeholder="Número Empleado Supervisor" required>

              <input name="nombre_empleado_supervisor" id="nombre_empleado_supervisor" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="text" placeholder="Nombre Empleado Supervisor" required>              

              <input name="correo_personal" id="correo_personal" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="email" placeholder="Correo Personal" required>        
                            
              <input name="correo_institucional" id="correo_institucional" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="email" placeholder="Correo Institucional" required>                               

              <input name="documento" id="documento" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="file" placeholder="Documento Propuesto" required>                            
                            
              <input name="consentimiento" id="consentimiento" class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2
                            sm:col-span-1 sm:w-full" 
                            type="checkbox" required> 
                            <label for="consentimiento">Acepto los términos y condiciones</label><br><br>                           


              <button class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer hover:bg-green-300 mt-6"
                      onclick="validatePassword()">
                      Enviar Propuesta
              </button>


              <!--<button class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer hover:bg-green-300 mt-6">Cancelar</button>-->
              <!--<a href="{% url 'login' %}" class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer 
                hover:bg-green-300 mt-4"><div>Cancelar</div></a>-->
              <br>
          
            </form>

        </article>
        
        {% endblock%}
    </body>
</html>
