{% extends 'base.html' %} 

{% block main %}
<div class="m-4">
    <h2 class="font-medium text-4xl text-center my-6">Propuesta {{ propuesta_id }}</h2>

    <form method="post">
        {% csrf_token %}

        <div>

            <label>{{ form.motivo_rechazo.label}}</label>
            {{ form.motivo_rechazo }}
        </div>

        <div>
            
            <label>Descripcion del motivo (opcional)</label>
            {{ form.descripcion }}
        </div>

        <button type="submit">Enviar</button>

    </form>
</div>
{% endblock %}
