{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="m-4">
    <h2 class="font-medium text-4xl text-center my-6">Propuestas</h2>

    <div class="flex gap-4 justify-between my-5">

        <div class="flex gap-2">
            <p class="font-semibold">Filtrar por: </p>

            <a href="/propuestas">
                <button
                    {% if filter != "todo" %}
                    class="rounded-full h-7 bg-white px-4 text-gray-500 border-gray-500 border hover:bg-gray-100"
                    {% else %}
                    class="rounded-full h-7 px-4 text-gray-700 border-gray-700 border-2 bg-gray-200"
                    disabled
                    {% endif %}
                    type="button">
                    Todas las propuestas
                </button>
            </a>

            <a href="/propuestas?filter=pendientes">
                <button
                    {% if filter != "pendientes" %}
                    class="rounded-full h-7 bg-white px-4 text-gray-500 border-gray-500 border hover:bg-gray-100"
                    {% else %}
                    class="rounded-full h-7 px-4 text-gray-700 border-gray-700 border-2 bg-gray-200"
                    disabled
                    {% endif %}
                    type="button">
                    Pendientes
                </button>
            </a>

            <a href="/propuestas?filter=aceptadas">
                <button
                    {% if filter != "aceptadas" %}
                    class="rounded-full h-7 bg-white px-4 text-gray-500 border-gray-500 border hover:bg-gray-100"
                    {% else %}
                    class="rounded-full h-7 px-4 text-gray-700 border-gray-700 border-2 bg-gray-200"
                    disabled
                    {% endif %}
                    type="button">
                    Aceptadas
                </button>
            </a>

            <a href="/propuestas?filter=rechazadas">
                <button
                    {% if filter != "rechazadas" %}
                    class="rounded-full h-7 bg-white px-4 text-gray-500 border-gray-500 border hover:bg-gray-100"
                    {% else %}
                    class="rounded-full h-7 px-4 text-gray-700 border-gray-700 border-2 bg-gray-200"
                    disabled
                    {% endif %}
                    type="button">
                    Rechazadas
                </button>
            </a>
            




        </div>

            <form class="flex gap-2" id="dateRangeForm" method="GET" action="/propuestas">
                <label 
                    class="font-semibold"
                    for="start_date">
                    Inicio: 
                </label>
                <input 
                    class="rounded-full h-7"
                    type="date" 
                    id="start_date" 
                    name="start_date" 
                    value="{{ request.GET.start_date }}">

                <label 
                    for="end_date">
                    Fin: 
                </label>
                <input 
                    class="rounded-full h-7"
                    type="date"
                    id="end_date"
                    name="end_date"
                    value="{{ request.GET.end_date }}">

                <input type="hidden" id="filter" name="filter" value="{{ request.GET.filter }}">
            </form>

        <!-- 
        <input class="rounded-full h-7" placeholder="Búsqueda" type="text" />
        -->
    </div>

    <div class="overflow-auto max-h-[600px] overflow-y-auto h-64">
        <table class="w-full caption-bottom text-sm">
            <thead class="[&amp;_tr]:border-b">
                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                    <th
                        class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        No. Empleado
                    </th>
                    <th
                        class="h-12 px-4 text-center align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Nombre
                    </th>
                    <th
                        class="h-12 px-4 text-center align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Fecha de Recepción
                    </th>
                    <th
                        class="h-12 px-4 text-center align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Estatus
                    </th>
                    <th
                        class="h-12 px-4 text-center align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Teléfono
                    </th>
                    <th
                        class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Torre la que pertenece
                    </th>
                    <th
                        class="h-12 px-4 text-center align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Área
                    </th>
                    <th
                        class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                        Ver más detalles
                    </th>
                </tr>
            </thead>
            <tbody class="[&amp;_tr:last-child]:border-0">
                {% for propuesta in lista_propuestas %}
                <tr
                    class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted hover:bg-gray-100">
                    <td class="p-4 align-middle text-center [&amp;:has([role=checkbox])]:pr-0">
                        {{propuesta.no_empleado}}
                    </td>
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                        {{propuesta.nombre}}
                    </td>
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                        {{ propuesta.fecha_creacion }}
                    </td>
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                        {{ propuesta.status }}
                    </td>
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                        {{propuesta.telefono}}
                    </td>
                    <td class="p-4 align-middle text-center [&amp;:has([role=checkbox])]:pr-0">
                        {{propuesta.torre_perteneciente}}
                    </td>
                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                        {{propuesta.area}}
                    </td>
                    <td class="p-4 align-middle text-center [&amp;:has([role=checkbox])]:pr-0">
                        <a href="{% url 'propuestas:pro_detalles' propuesta_id=propuesta.id %}">
                            <p class="underline cursor-pointer">Detalles</p>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.getElementById('start_date').addEventListener('change', function() {
        document.getElementById('dateRangeForm').submit();
    });

    document.getElementById('end_date').addEventListener('change', function() {
        document.getElementById('dateRangeForm').submit();
    });
</script>
<!--<object data="{% static 'Servicio.pdf' %}" type="application/pdf" width="500" height="678">

    <iframe src="{% static 'Servicio.pdf' %}" width="500" height="678">
        <p>This browser does not support PDF!</p>
    </iframe>
</object>-->
{% endblock %}
