{% extends 'base.html' %} 

{% block main %}
<div>
    <h2 class="text-2xl text-center">En Fecha</h2>
    <table class="w-full caption-bottom text-sm">
        <thead class="[&amp;_tr]:border-b">
            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    Matricula
                </th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    Nombre
                </th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    Fecha de recepcion
                </th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    Telefono
                </th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    Empresa
                </th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    RFC
                </th>
                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                    Ver mas detalles
                </th>
            </tr>
        </thead>
        <tbody class="[&amp;_tr:last-child]:border-0">
            {% for propuesta in lista_propuestas %}
            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    {{propuesta.no_empleado}}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    {{propuesta.nombre}}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    Falta agregar
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    {{propuesta.telefono}}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    {{propuesta.torre_perteneciente}}
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    No Hay
                </td>
                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                    Detalles
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
{% endblock %}
