{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>CC Banorte Propuestas</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% tailwind_css %}
</head>

<body class="bg-slate-200 h-screen w-screen relative">
  <!--Barra de navegacion superior-->
  <!--border-slate-400 py-6 relative-->

  <!--lateral-->
  <nav class="h-full w-1/12 relative bg-red-500 shadow-2xl flex flex-col items-center justify-between">
    <!--<h1 class="font-mono text-2xl absolute left-20 top-0">Revision de Documentación</h1>-->

    <div class="flex flex-col absolute top-2">

      <!--Icono casa-->
      <a href="{% url 'home' %}">
        <svg class="w-8 my-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path
            d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
        </svg>
      </a>

      <!--Icono bandera-->
      <a href="{% url 'propuestas:revision' %}">
        <svg class="w-8 my-4" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z" />
        </svg>
      </a>

      <!--Icono carta-->
      <a href="{% url 'usuarios:VerMotivo' %}">

        <svg class="w-8 my-4" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
        </svg>
      </a>

    </div>

    <div class="flex flex-col absolute bottom-6">

      <!--Icono perfil-->
      <a href="{% url 'usuarios:usuarios' %}">

        <svg class="w-8 my-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
        </svg>
      </a>
      <!--Icono ajustes-->
      <a href="{% url 'logout' %}">
        <svg class="w-8 my-4"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                        </svg>
      </a>

    </div>

  </nav>

  <!--superior-->
  <div class="fixed right-0 top-0 h-20 w-11/12 shadow-md">
    <h1 class="font-mono text-2xl absolute left-10 top-4">Revisión de Documentación</h1>

    <div class="h-full w-3/12 absolute top-0 right-0 flex justify-evenly">
      <img src="" alt="">
      <div class="m-2">
        <p class="font-mono text-xl">{{user.nombre}}</p>
        <p class="absolute right-3 font-mono text-lg text-slate-700">{{user.role_id.nombre_role}}</p>
      </div>
    </div>
  </div>

  <!--contenido-->
  <div class="fixed right-0 top-20 h-full w-11/12 shadow-md">
    {% block main %}

    {% endblock%}
  </div>

  <!--inferior-->
  <footer class="absolute right-0 bottom-0 h-20 w-11/12 bg-slate-400">
    <p class="absolute right-6 bottom-6 font-mono text-slate-700">CENTRO DE CONTACTO BANORTE</p>
    <p class="absolute right-6 bottom-2 font-mono text-slate-700">Version 1.0</p>
  </footer>

</body>

</html>