<!-- Modal toggle -->

<!-- Main modal -->
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
    class="hidden fixed right-0 top-20 bottom-20 w-11/12 shadow-md justify-center items-center ">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <b>
                    <h2 class="block mb-2 font-mono text-2xl left-20 top-0">Nuevo Motivo</h2>
                </b>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class=" p-2 overflow-y-auto h-72 space-y-4">
                <form action="" method="POST" id="myForm" class="max-w-2xl bg-white rounded p-4">
                    {% csrf_token %}

                    <div class="mb-4">
                        <label for="tipo" class="block text-gray-700 font-bold mb-2">Selecciona el tipo de
                            motivo:</label>
                        <select id="tipo" name="tipo"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            placeholder="Asunto del correo" required>
                            {% for asunto in lista_asuntos %}
                            <option value="{{asunto.id}}">{{asunto.Tipo}}</option>
                            {% endfor %}
                        </select>
                    </div> <br>
                    <div class="mb-4">
                        <label for="Descripcion" class="block text-gray-700 text-sm font-bold mb-2">Identificador</label>
                        <input name="Descripcion" id="Descripcion"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            type="text" placeholder="Titulo del correo" required>
                    </div><br>
                    <div class="mb-4">
                        <label for="Titulo" class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
                        <input name="Titulo" id="Titulo"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            type="text" placeholder="Descripción del correo" required>
                    </div><br>                    
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="submit" form="myForm"
                    class="p-2 shadow-lg shadow-gray-500/50 bg-red-500 text-white rounded-lg text-[15px] cursor-pointer active:scale-[.97]">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modalToggleButtons = document.querySelectorAll("button.Nuevo[data-modal-toggle]");
        const modals = document.querySelectorAll("button.Nuevo[data-modal-target]");

        modalToggleButtons.forEach(button => {
            button.addEventListener("click", function () {
                const targetModalId = this.dataset.modalTarget;
                const targetModal = document.getElementById(targetModalId);
                if (targetModal) {
                    targetModal.classList.toggle("hidden");
                }
            });
        });
    });
</script>